{% for course in courses %}
<div class="col-sm-12 col-md-6 col-lg-4" style="max-width: 300px;">
    <div class="card" data-id="{{ course.id }}">
        <div class="card-body">
            <h5 class="card-title text-truncate" style="max-height: 50px;">{{ course.title }}</h5>
            <p class="card-text text-wrap text-truncate" style="max-height: 100px">{{ course.description }}</p>
            <a href="{% url 'course_detail' course.id %}" class="btn btn-sm btn-primary">Ver Atividades</a>
        </div>
    </div>
</div>
{% empty %}
<div class="col-12">
    <p class="text-center fs-5 text-muted">Nenhum curso encontrado.</p>
</div>
{% endfor %}