{% extends 'core/base.html' %}
{% block title %} 'Publicações de {{ course.title }}'{% endblock %}
{% block content %}
    <h2 class="text-primary mb-4">{{ course.title }}</h2>
    <p>{{ course.description }}</p>
    <hr>
    <h4>Publicações Educacionais</h4>
    <ul class="list-group">
        {% for publication in publications %}
            <li class="list-group-item">
                <strong>{{ publication.titulo }}</strong>
                <p>{{ publication.descricao }}</p>
            </li>
        {% empty %}
            <li class="list-group-item">Este curso ainda não tem publicações.</li>
        {% endfor %}
    </ul>
{% endblock %}
