{% extends 'core/base.html' %}

{% block title %}Register - Reeduc{% endblock %}

{% block content %}
<div class="col-11 col-md-8 col-lg-6 col-xl-4">
    <div class="card shadow-lg border-0">
        <div class="card-body p-4 p-md-5">

            <form id="signupForm" class="gap-3 d-flex flex-column">
                <h2 class="text-primary text-center">Cadastro</h2>

                <div class="d-flex flex-column gap-2">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>

                <div class="d-flex flex-column gap-2">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                </div>

                <div class="d-flex flex-column gap-2">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                </div>

                <div class="row me-0 ms-0">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>

                <div class="text-center d-flex flex-column gap-2">
                    <a href="{% url 'login' %}" class="text-primary text-decoration-none">Já tem uma conta? Clique aqui.</a>
                    <a href="{% url 'home' %}" class="text-primary text-decoration-none">
                                                         
                        <i class="bi bi-house"></i>
                        Voltar para home
                    </a>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

<script>
    $('#signupForm').on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            url: "{% url 'register' %}",
            type: "POST",
            data: $(this).serialize(),
            success: function(response) {
                if (response.success) {
                    toastr.success("Cadastro realizado com sucesso.");
                    setTimeout( () => {
                        
                        window.location.href = response.redirect_url;
                    },2000)

                } else {
                    toastr.error(response.message || "Erro ao realizar cadastro. Verifique os campos e tente novamente.");
                }
            },
            error: function(xhr) {
                const response = xhr.responseJSON;
                if (response && response.errors) {
                    // Percorre o dicionário de erros retornado pelo Django
                    for (const field in response.errors) {
                        response.errors[field].forEach(msg => {
                            // Exibe cada erro usando Toastr
                            toastr.error(msg);
                        });
                    }
                } else {
                    toastr.error("Erro no servidor. Tente novamente mais tarde.");
                }
            }
        });
    });
</script>

{% endblock %}