#id_descricao, #id_titulo, #id_link {
    width: 100%;
}
#mobileOffcanvasMenu {
    width: 250px;
}

li.nav-item {
    padding: 10px 15px;
}

li.nav-item:hover {
    background-color: #0d6efd;
}


.select2-container {
    width: 100% !important;
}

.select2-selection__rendered {
    overflow-y: scroll !important;
    text-overflow: ellipsis !important;
    max-height: 100px !important;
} 

button.select2-selection__clear {
    right: 1.75rem !important;
    padding: 1rem !important;
    background-color: #d1d1d1 !important;
}

#position-custom:hover{
    background-color: #0d6efd;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 577px) {
/* Styles */
    #position-custom {
        position: fixed;
        bottom: 70px;
        right: 20px !important;
        padding: 10px;
        border: 1px solid;
        width: 50px;  
    }
}

#formCriarCurso{
    max-width: 600px !important;
}

#position-custom {
    position: fixed;
    bottom: 70px;
    right: 20px !important;
    padding: 10px;
    border: 1px solid;
}
.logout {
    cursor: pointer;
}