{% extends 'core/base.html' %}
{% block title %}Nova Publicação{% endblock %}

{% block content %}
<div class="row gap-5 justify-content-center align-items-center py-5">

  
    <div class="d-flex justify-content-start">
        <a href="{% url 'publicacoes_list' %}" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-left"></i> Voltar para lista de publicações
        </a>
    </div>

    <div class="card shadow-sm col-sm-8 col-md-8 align-items-center">

        <div class="card-body col-sm-12 col-md-10 py-5">


        
            <h1 class="col-sm-12 col-md-12 text-primary text-center fw-semibold mb-5">Criar Nova Publicação</h2>

            <form class="gap-4 col-sm-12">
            
                <div class="d-flex flex-column gap-2 p-0">
                    <div class="col-sm-12 d-flex justify-content-between">
                        {{ form.titulo.label_tag }} 
                        <small class="text-muted">(Campo obrigatório)</small>
                    </div>
                    <div class="col-sm-12">
                        {{ form.titulo }}
                    </div>

                    <div class="col-sm-12 d-flex justify-content-between">
                        {{ form.link.label_tag }}
                        <small class="text-muted ">(Campo obrigatório)</small>
                    </div>
                    <div class="col-sm-12">
                        {{ form.link }}
                    </div>
                    
                </div>
                
                <div class="d-flex flex-column gap-2 p-0">

                    <div class="col-sm-12 d-flex justify-content-between">
                        {{ form.descricao.label_tag }}
                        <small class="text-muted">(Campo obrigatório)</small>
                    </div>
                    <div class="col-sm-12">
                        {{ form.descricao }}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary w-100 mt-3">Enviar</button>
        
            </form>
        </div>    
    </div>
    

</div>
{% endblock %}